.content{
  padding: 16px;
  min-width: 99vw;
  min-height: 97vh;
}
#orders{
  margin-top: 2vw;
  max-width: 95vw;
}
#button{
  margin-left: 10vw;
  background-color: crimson;
  color: whitesmoke;
}

#loginPlease{
  width: 99vw;
  height: 99vh;
}
#buttonOceni{
  margin-left: 10vw;
  background-color: goldenrod;
  color: whitesmoke;
}
